* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, rgb(1, 1, 1), rgb(49, 49, 49));
}
.container {
  position: relative;
  width: 400px;
  height: 105px;
  background: linear-gradient(305deg, #2196f3, #fff);
  backdrop-filter: blur(10px);
  padding: 28px 32px;
  overflow: hidden;
  border-radius: 18px;
  font-family: 'Roboto', sans-serif;
  transition: 0.6s ease-out;
}
form {
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
#search i {
  position: absolute;
  color: #06283d;
  font-size: 28px;
}
input {
  background: none;
  color: #06283d;
  width: 80%;
  font-size: 18px;
  font-weight: 500;
  padding-left: 32px;
}
button {
  cursor: pointer;
  width: 50px;
  height: 50px;
  color: #06283d;
  background: #dff6ff;
  border-radius: 50%;
  font-size: 22px;
  transition: 0.4s ease;
}
button:hover {
  color: #fff;
  background: #06283d;
}
.weather-box {
  text-align: center;
}

.weather-box img {
  width: 40%;
  margin-top: 30px;
}
.weather-box .temperature {
  position: relative;
  color: #06283d;
  font-size: 4rem;
  font-weight: 800;
  margin-top: 30px;
  margin-left: -16px;
}
.weather-box .city {
  color: #06283d;
  font-size: 5rem;
  font-weight: 500;
  text-transform: capitalize;
}
.weather-box .details {
  color: #06283d;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}
.weather-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.weather-details .humidity,
.weather-details .wind {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 50%;
  height: 100px;
}
.fadeIn {
  animation: 0.5s fadeIn forwards;
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  to {
    scale: 1;
    opacity: 1;
  }
}
